name: CI
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: 'package.json'

      - name: Install NPM@7
        run: npm i -g npm@7

      - name: install libgbm1
        run: sudo apt-get install -y libgbm1

      - uses: actions/cache@v3
        id: npm-cache
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Intall deps
        if: steps.npm-cache.outputs.cache-hit != 'true'
        run: |
          npm ci

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test -- --watch=false

      - name: Build
        run: npm run build:prod

